<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Log Visualizer</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/log_interface.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/log_interface.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">    
</head>

<body>
    <div id="main">
        <div id="menu">
        <p>
            These are sample traces of the same Mini-ARC problem,
            <i>diagonal_flip_l6abdiipodvgey6tbdf</i>.
            <br/>
            <br />
            Each of the traces are produced by one participant.
            <br />
            <br />
            click <i><b>arrow key</b></i> to view the procedure.
            <br/>
        </p>
        </div>
        <div id="visualization">
            <div class="grid" id="show_grid">
                <div id="grid_control">
                </div>
                <div class="grid" id="main_grid"></div> 
            </div>  
            <div class="grid" id="aux_grid">
                <div class="grid" id="input_grid"></div>
                <div class="grid" id="clicked"></div>
                <div class="grid" id="selected"></div>
            </div>
        </div>
        <div id="action">
            <label id="action_description"></label>
        </div>
    </div>
</body>

</html>