<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ARC testing interface</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{ url_for('static', filename='js/common.js') }}"></script>
        <script src="{{ url_for('static', filename='js/testset_interface.js') }}"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/testset_common.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/testset_interface.css') }}">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    </head>
    <body>
        <div id="workspace">
            <div id="evaluation_view">
                <div id="evaluation_output_editor">
                    <div id="edition_view">
                        <div class="text">Make Test Sets</div>
                        <div id="editor_grid_control_btns">
                            <div id="resize_control_btns">
                                <label for="output_grid_size">Change grid size: </label>
                                <input type="text" id="output_grid_size" class="grid_size_field" name="size" value="5x5">
                            </div>
                            <button onclick="resetInputGrid()">Reset Input grid</button>
                            <button onclick="resetOutputGrid()">Reset Output grid</button>
                            <button id="tool_clear_selection"
                                 name="tool_switching" value="floodfill">
                                <label for="tool_clear_selection">Clear Selection</label>
                            <button onclick="submitSolution()" id="submit_solution_btn">Submit!</button>
                        </div>

                        <div id="input_grid">
                            <div class="edition_grid selectable_grid">
                                <div class="row">
                                    <div class="cell" symbol="0" x="0" y="0"></div>
                                    <div class="cell" symbol="0" x="0" y="1"></div>
                                    <div class="cell" symbol="0" x="0" y="2"></div>
                                    <div class="cell" symbol="0" x="0" y="3"></div>
                                    <div class="cell" symbol="0" x="0" y="4"></div>
                                </div>
                                <div class="row">
                                    <div class="cell" symbol="0" x="1" y="0"></div>
                                    <div class="cell" symbol="0" x="1" y="1"></div>
                                    <div class="cell" symbol="0" x="1" y="2"></div>
                                    <div class="cell" symbol="0" x="1" y="3"></div>
                                    <div class="cell" symbol="0" x="1" y="4"></div>
                                </div>
                                <div class="row">
                                    <div class="cell" symbol="0" x="2" y="0"></div>
                                    <div class="cell" symbol="0" x="2" y="1"></div>
                                    <div class="cell" symbol="0" x="2" y="2"></div>
                                    <div class="cell" symbol="0" x="2" y="3"></div>
                                    <div class="cell" symbol="0" x="2" y="4"></div>
                                </div>
                                <div class="row">
                                    <div class="cell" symbol="0" x="3" y="0"></div>
                                    <div class="cell" symbol="0" x="3" y="1"></div>
                                    <div class="cell" symbol="0" x="3" y="2"></div>
                                    <div class="cell" symbol="0" x="3" y="3"></div>
                                    <div class="cell" symbol="0" x="3" y="4"></div>
                                </div>
                                <div class="row">
                                    <div class="cell" symbol="0" x="4" y="0"></div>
                                    <div class="cell" symbol="0" x="4" y="1"></div>
                                    <div class="cell" symbol="0" x="4" y="2"></div>
                                    <div class="cell" symbol="0" x="4" y="3"></div>
                                    <div class="cell" symbol="0" x="4" y="4"></div>
                                </div>
                            </div>
                            
                        </div>

                        <div id="arrow_grid">
                            <p>&#8594;</p>
                        </div>

                        <div id="output_grid">
                            <div class="edition_grid selectable_grid">
                                <div class="row">
                                    <div class="cell" symbol="0" x="0" y="0"></div>
                                    <div class="cell" symbol="0" x="0" y="1"></div>
                                    <div class="cell" symbol="0" x="0" y="2"></div>
                                    <div class="cell" symbol="0" x="0" y="3"></div>
                                    <div class="cell" symbol="0" x="0" y="4"></div>
                                </div>
                                <div class="row">
                                    <div class="cell" symbol="0" x="1" y="0"></div>
                                    <div class="cell" symbol="0" x="1" y="1"></div>
                                    <div class="cell" symbol="0" x="1" y="2"></div>
                                    <div class="cell" symbol="0" x="1" y="3"></div>
                                    <div class="cell" symbol="0" x="1" y="4"></div>
                                </div>
                                <div class="row">
                                    <div class="cell" symbol="0" x="2" y="0"></div>
                                    <div class="cell" symbol="0" x="2" y="1"></div>
                                    <div class="cell" symbol="0" x="2" y="2"></div>
                                    <div class="cell" symbol="0" x="2" y="3"></div>
                                    <div class="cell" symbol="0" x="2" y="4"></div>
                                </div>
                                <div class="row">
                                    <div class="cell" symbol="0" x="3" y="0"></div>
                                    <div class="cell" symbol="0" x="3" y="1"></div>
                                    <div class="cell" symbol="0" x="3" y="2"></div>
                                    <div class="cell" symbol="0" x="3" y="3"></div>
                                    <div class="cell" symbol="0" x="3" y="4"></div>
                                </div>
                                <div class="row">
                                    <div class="cell" symbol="0" x="4" y="0"></div>
                                    <div class="cell" symbol="0" x="4" y="1"></div>
                                    <div class="cell" symbol="0" x="4" y="2"></div>
                                    <div class="cell" symbol="0" x="4" y="3"></div>
                                    <div class="cell" symbol="0" x="4" y="4"></div>
                                </div>
                            </div>
                        </div>


                        <div id="toolbar">
                            <div>
                                <input type="radio" id="tool_edit"
                                 name="tool_switching" value="edit" checked>
                                <label for="tool_edit">Edit</label>

                                <input type="radio" id="tool_select"
                                 name="tool_switching" value="select">
                                <label for="tool_select">Select</label>

                                <input type="radio" id="tool_floodfill"
                                 name="tool_switching" value="floodfill">
                                <label for="tool_floodfill">Flood fill</label>
                            </div>
                        </div>

                        <div id="symbol_picker">
                            <div class="symbol_preview symbol_0 selected-symbol-preview" symbol="0"></div>
                            <div class="symbol_preview symbol_1" symbol="1"></div>
                            <div class="symbol_preview symbol_2" symbol="2"></div>
                            <div class="symbol_preview symbol_3" symbol="3"></div>
                            <div class="symbol_preview symbol_4" symbol="4"></div>
                            <div class="symbol_preview symbol_5" symbol="5"></div>
                            <div class="symbol_preview symbol_6" symbol="6"></div>
                            <div class="symbol_preview symbol_7" symbol="7"></div>
                            <div class="symbol_preview symbol_8" symbol="8"></div>
                            <div class="symbol_preview symbol_9" symbol="9"></div>
                        </div>
                    </div>

                    <div id="error_display"></div>
                    <div id="info_display"></div>
                </div>
            </div>

            <div id="finished_pairs">
                <div id="layer_panel_view">

                    <div class="text">Finished Pairs</div>
                    <div id="layer_panel">
                        <input type="button" id="button1" onclick="addLayer()" value="create Layer from Selection" />
                        <input type="button" id="button2" onclick="deleteLayer()" value="delete Layer" />
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
